<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    //establece al formulario centrado
    body.login
        .contenedor-formulario  
            //pasamos la variable desde el controlador

            h1= nombrePagina
            p coloca tu Nuevo Password
            //este form carece de campo "ACTION" ya no sabemos la url exacta al 
            //llevar un token. lo hacemos desde router.post('/reestablecer/:token')
            form.caja-login(method= "POST")
                .campo
                    label(for="password") Password:
                    //name importante para leer con bodyParser
                    input(type="password" name="password" placeholder="nuevo Password" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")
               
                